fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-google-genai
langchain-pinecone
google-generativeai
groq
pinecone
markdown2
langchain_huggingface
reportlab
langchain-community
pymupdf
sentence-transformer
faiss-cpu
